*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: hsl(216, 100%, 60%);
}

input,
button {
  font: inherit;
}

.container {
  background: hsl(216, 100%, 70%);
  border-radius: 1rem;
  max-width: 500px;
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 1rem;
}

.myInput {
  width: 50%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.3em 0.4em;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.fw-bold {
  font-weight: bold;
}

.myBtn {
  border: none;
  outline: none;
  padding: 0.3em 1em;
  border-radius: 100vmax;
  background: hsl(216, 100%, 60%);
  transition: background 150ms ease-in-out;
}

.myBtn:hover {
  background: hsl(216, 100%, 50%);
}

@media screen and (max-width: 500px) {
  body {
    min-height: 50vh;
    padding-inline: 1rem;
  }
}
